
{% extends "base.html" %}
{% load static  %}
{% block title %}Pnaumba Ask{% endblock title %}
{% block content %}   
 <style>
    body {
        background-color: black;
        /* background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%); */
        height: 100vh;
        margin: 0;
        overflow: hidden;
        padding: 2rem;
        color: #0f0;
        font-family: 'Inconsolata', monospace;
        font-size: 1.3rem;
        text-shadow: 0 0 5px #C8C8C8;
    }

    .terminal-input {
        background-color: transparent;
        border: none;
        color: #0f0;
        font-family: inherit;
         &:focus {
            background-color: transparent;
            box-shadow: none; /* Removes the glow effect if any */
            color: #0f0;
        }
    }

    .input-group-text {
        background-color: transparent;
        border: none;
        color: #0f0;
        font-family: inherit;
    }

    .input-group-prepend {
        margin-right: -1px;
    }

    .blinking-cursor {
        color: green;
        font-weight: bold;
        
        font-size: 1.5rem;
        animation: blinkingCursor 1s infinite;
    }

    
    @keyframes blinkingCursor {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
    }


    .container {
        padding-top: 50px;
    }
 
    .navbar {
        display: none; 
    }
</style>

<div class="container">
    <h1 class="text-center mb-4">Panumba Terminal</h1>
    <form action="{% url 'interface:question' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="questionInput" class="form-label">Enter your question:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text blinking-cursor">></span>
                </div>
                <input type="text" class="form-control terminal-input" id="questionInput" name="question" placeholder="Type your question here..." autocomplete="off">
            </div>
        </div>
        <!--<button type="submit" class="btn btn-primary">Submit</button> -->
    </form>

    <div id="context" class="mt-4 pt-4">
      
        <h3 class="text-center" >{{number}}</h3>
        <p class="text-center"> {{ context }}</p>
        {% comment %}   <canvas class="text-center" id="display" width="370" height='160' style='text-align: center' class="px-4"></canvas> {% endcomment %}
        {% if error %}
             <p id="error">{{ error }} </p>
             <p id="countdown"></p>
        {% endif %}
    </div>
    
</div>


{% block script %}
{% if error %}
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    console.log("{{ timer }}");
    var time = {{ timer }} 
    var time = time * 1000; // convert to milliseconds
    console.log(time);
    var countdown = setInterval(function() {
        time -= 10; // decrement by 10 milliseconds
        document.getElementById('countdown').innerText = (time / 1000).toFixed(3) + " seconds remaining"; // display time with 3 decimal places
        
        if (time <= 0) {
            clearInterval(countdown);
            document.getElementById('countdown').innerText = "You can ask for a new number now";
            document.getElementById('error').style.display = 'none'; 
        }
    }, 10)
});
</script>
{% endif %}
{% endblock script %}
{% endblock content %}



