{% extends "base.html" %}
{% load static i18n %}
{% block title %}Numba{% endblock title %}
{% block content %}
<style>
    body {
        background-color: black;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;  
    }
    .navbar {
        display: none; 
    }
</style>

    
<div class="m-4">
<canvas id="display" width="1400" height='360' style='text-align: center' class="px-4">

</canvas>
</div>

{% endblock content %}


{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/segment-display.js' %}"></script>
<script src="{% static 'js/showNumber.js' %}"></script>

<script>
    const url = "{% url 'interface:api_latest_answer' %}"

</script>




{% endblock javascript %}